main {
	text-align: center;
}

a.r:hover {
	font-size: 1.2em;
	background-color: white;
	border-radius: 10px;
	cursor: url(3.png), pointer;
}

.na {
	text-decoration: none;
	color: black;
}

.top {
	text-align: right;
	padding: 30px;
}

#logo {
	float: left;
	font-size: xx-large;
	font-weight: bold;
	color: #260C1A;
	padding:0px 30px 10px 30px;
}

.r {
	font-size: large;
	font-family: monospace;
	font-weight: bold;
	color: #260C1A;
	padding: 10px 25px 10px 30px;
	text-decoration: none;
}

#hello {
	text-align: center;
	font-family: 'Itim', monospace;
	font-size: 20px;
	color: #404040;
}

#name {
	font-family: 'Itim', monospace;
	background-color: #fbeee0;
  	border: 2px solid #422800;
  	border-radius: 30px;
  	box-shadow: #422800 4px 4px 0 0;
  	color: #422800;
  	cursor: pointer;
  	display: inline-block;
  	font-weight: 600;
  	font-size: 1em;
  	padding: 0 18px;
  	line-height: 50px;
  	text-align: center;
  	text-decoration: none;
}

a#name:hover {
	background-color: #fff;
	cursor: url(3.png), pointer;
}

a.na:hover {
	cursor: url(3.png), pointer;
}

#intro {
	display: inline-block;
	text-align: left;
	font-family: monospace;
	font-size: 15px;
}

#detail {
	border: 2px solid;
	border-radius: 8px;
	background-color: white;
	padding: 20px;
	margin-top: 40px;
}

#contact {
	width: 500px;
	border: 2px solid;
	border-radius: 8px;
	background-color: white;
	padding: 20px;
	line-height: 20px;
	margin-top: 40px;
}

.la {
	font-size: 1.1em;
	font-family: monospace;
	font-weight: bold;
}

.p1 {
	font-size: 1.1em;
}
